/* Write your CSS here! */
body{
    margin: 8px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    background-color: #cfe3d5;

}

p.intro{
    color: #0a453f;
}

h3{
    text-align: center;
    font-size: 125%;
}

h4{
    text-align: center;
}

#mainHeading{
    color:;
    border-radius: 25px;
    background-color: #9fc7ac;
    text-align: center;
    text-shadow: 1px 3px #5a996d;
    margin-left: 20%;
    margin-right: 20%;
    
}

#preface{
    text-align: center;
    padding-left: 10px;
    border-radius: 25px;
    background-color:  #49e396;
    box-shadow: 5px 10px aqua;
    margin-left: 10%;
    margin-right: 10%;
    
}

.start{
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding-left: 25px;
    background-color: #2fc47a;
    color: darkgreen;
    box-shadow: 5px 10px aqua;
    text-align: center;
}

img.secthreeimages{
    height: 150px;
    width: 25%;
}

.subsec1{
    border-radius: 50px;
    background-color: #42db70;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 33%;
}

.subsec2{
    border-radius: 50px;
    background-color:  #20c99a;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 33%;
}

.subsec3{
    border-radius: 50px;
    background-color: #42db70;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 33%;
}

.flexOption {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-basis: auto;
    gap: 20px;
}

footer{
    border-radius: 45%;
    text-align: center;
    background-color:  #5a996d;
    margin-left: 10%;
    margin-right: 10%;
}



