<!DOCTYPE html>
<html>
<head>
    <Title>Sample Simple Site</Title>
    <Link rel="stylesheet" type="text/css" href='styles.css'>
</head>
<body>
<header id="mainHeading">
    <h1>Sample Simple Site</h1>
    <h2>Hi, I'm J. Zager, and I did this!</h2>
</header>
<div id = "preface">
    <h3>A Little Preface</h3>
    <p class="intro">This is a sample structure I made from Assignment 4 of Unit 1... <br>
        This was easily my favorite assignment, because I have always enjoyed CSS. <br>
        My TA was impressed by my use of Flex Box, which is a beautiful tool. <br>
        Please... <em>ENJOY!</em></p>
</div>
<main>
    <section class="start">
        <h2> Here's a beginning section!</h2>
    </section>
    <article class="flexOption">
        <div class="subsec1">
            <h3>Oh, SubSection One!</h3>
            <figure>
                <Img src="images/number-1-cute-unicorn-rainbow-260nw-1090713644.webp" alt="That is an adorable One!">
                <figcaption>Well, I am very happy I discovered these Unicorn Numbers so that I can illustrate the <em>number</em> of figure tags I have here!</figcaption>
            </figure>
            <figure>
                <Img src="images/unicorntwo.jpeg" alt="Who knew a 2 could be so cute?">
                <figcaption>Yes, that is an excellent representation of the number 2.</figcaption>
            </figure>
            <figure>
                <Img src="images/coolthree.jpg" alt="Cool Dude Three">
                <figcaption>Bet you thought there would be another unicorn!</figcaption>
            </figure>
        </div>

        <div class="subsec2">
            <h3>Hey! SubSection Two!</h3>
            <h3>With Links!</h3>
            <Figure>
                <a href="https://www.google.com/">
                    <img src="images/subsec2/googlelogo.jpg" alt="Google Logo"></a>
                <figcaption>What's the first rule of being a developer? <br>
                    I can't remember, but maybe I could <br> <em>Google it?</em>
                </figcaption>
            </Figure>
            <Figure>
                <a href="http://www.mozilla.org">
                    <img src="images/subsec2/firefox.jpg" alt="Firefox Logo"></a>
                <figcaption> Fox are very trustworthy.<br>
                    Even if they're on fire? </figcaption>
            </Figure>
            <Figure>
                <a href="http://www.atlassian.com">
                    <img src="images/subsec2/jiralogo.jpg" alt="Jira Logo"></a>
                <figcaption>Here's Jira... <br>
                    I really do like the products from Atlassian. Not only Jira,<br>
                    but another product called Confluence is very easy to use to <br>
                    build and maintain pages of instructions.</figcaption>
            </Figure>
        </div>

        <div class="subsec3">
            <h3>What, a third SubSection?</h3>
            <h4>...with it's very own sub-subSection??</h4>
            <figure>
                <a href="https://www.https://github.com/jmzager0110"><img src="images/subsec3/howdy.jpg"></a>
                <figcaption>I do have a pretty neat name.</figcaption>
            </figure>

            <figure>
                <h4>Oh, another sub-sub-section? Well... </h4>
                <h4>Because it is the most fun you can have using Word, a bit about WordArt.</h4>
                <p>Guess what? More links disguised as images!</p>
                <a href="https://www.youtube.com/watch?v=4i-tLE6HvkY">
                    <img src="images/subsec3/wordart.jpg" alt="Word Art Logo"></a>
                <a href="https://www.youtube.com/watch?v=YqfGZ-a0FaE">
                    <img src="images/subsec3/makewordart.jpg" alt="Jazzy Word Art Logo"></a>
            </figure>
            <section class="secthreeimages">
                <h4>Look at that, another sub-subSection...</h4>
                <figure>
                    <figcaption>What even is a section? Here's some images.</figcaption>
                    <img src="images/subsec3/section.jpg" alt="Not enthused">
                    <figcaption>If she knows, she doesn't care for it.</figcaption>
                    <img src="images/subsec3/coolsection.jpg" alt="Much better">
                    <figcaption>Maybe this will give us a better last impression about sections?</figcaption>
                </figure>
            </section>

        </div>
    </article>
</main>
<footer><p>Author: Jessica Zager</p>
    <p><a href="mailto:jzager@gmail.com">Email me only nice things, if you do email me.</a></p>
    <p>Not /(&copy;)/ copyrighted, nor /(&reg;)/ registered trademark by myself.</p>
    <p>Thanks for stopping by! Have a great day!</p>
</footer>
</body>
</html>